*, *:before, *:after {
  box-sizing: border-box;
}

body {
  counter-reset: step;
  background: url("https://3.bp.blogspot.com/-QOJgDm7gIek/VhrwWRL3i_I/AAAAAAAAIZA/fASX3UgfGUM/s1600/%2528CONCRETE%2B11%2529%2Bgranite%2Bwall%2Bsmooth%2Bdirt%2Bpillar%2Btexture.jpg");
  background-size: cover;
}

@-webkit-keyframes travel {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes travel {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes sonar {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
@keyframes sonar {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
.table {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.box {
  width: 600px;
  background: #fff;
  height: 600px;
  margin: 0 auto;
  box-shadow: 0 20px 200px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width : 320px) {
 .box {
  display: table;
  width: 350px;
	}}

@media only screen and (max-width : 720px) {
 .box {
  display: table;
  width: 350px;
 
	}}


.row {
  position: relative;
}
.row:after {
  display: block;
  content: "";
  clear: both;
}

.col4 {
  width: 40%;
  float: left;
  height: 400px;
}

.col6 {
  width: calc(50% - 1px);
  float: left;
  height: 200px;
}

.col8 {
  width: 60%;
  float: left;
}

.sidebar {
  color: #fff;
  background: #002A5C;
}
.sidebar ul {
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  padding: 60px 0 0 40px;
  margin: 0;
}
.sidebar ul li {
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 90px;
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  padding-left: 30px;
  position: relative;
}
.sidebar ul li:before {
  counter-increment: step;
  content: counter(step);
  display: block;
  position: absolute;
  left: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  background: #002A5C;
  border: 2px solid rgba(255, 255, 255, 0.4);
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  border-radius: 100%;
}
.sidebar ul li.active {
  color: #fff;
  border-color: #fff;
}
.sidebar ul li.active:before {
  border-color: #fff;
}
.sidebar ul li.active.current {
  border-color: rgba(255, 255, 255, 0.5);
}
.sidebar ul li span {
  position: relative;
  top: -20px;
  line-height: 40px;
}
.sidebar ul li:last-child {
  border-color: transparent;
}

.mapbox {
  overflow: hidden;
  position: relative;
  height: 400px;
}

div.map {
  position: absolute;
  width: 1800px;
  height: 600px;
  background-image: url("https://dl.dropboxusercontent.com/u/2255413/map.svg");
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-name: travel;
          animation-name: travel;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#dot {
  width: 15px;
  height: 15px;
  background-color: #EE2E24;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 50%;
  margin-top: 10px;
}
#dot .ping {
  border: 1px solid #EE2E24;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(238, 46, 36, 0.2);
  border-radius: 100%;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-name: sonar;
          animation-name: sonar;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.col6 {
  color: #EE2E24;
}

.col6:last-child {
  border-left: 1px solid #EE2E24;
  margin-left: 1px;
  padding-left: 1px;
}

h2 {
  padding: 20px 40px;
  font-size: 16px;
  letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 2px dotted #EE2E24;
}

.address {
  padding: 25px 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #222;
  line-height: 1.8;
  letter-spacing: -0.2px;
}

#number {
  position: absolute;
  top: 20px;
  left: 10%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  width: 80%;
  background: #fff;
  font-size: 21px;
  padding: 10px 13px;
  padding-top: 10px;
}
#number div {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #002A5C;
  letter-spacing: 1.5px;
}